<div class="container-fluid">
    <div class="datacontainer" *ngFor='let clanak of clanci'>
          <div class="container" (click)="openArticle(clanak.id)">
            <div class="row">
              <div class="col-md-4">
                  Naziv:
              </div>
              <div class="col-md-8">
                  <div class="row col-md-12">{{clanak.idClanak.naziv}}</div>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="row col-md-12">Kategorija: </div>
                </div>
                <div class="col-md-8">
                    <div class="row col-md-12">{{clanak.idClanak.idKategorije.naziv}}</div>
                </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-4">
                      <div class="row col-md-12">Odobrio: </div>
                  </div>
                  <div class="col-md-8">
                      <div class="row col-md-12">{{clanak.idClanak.odobrioClanak.username}}</div>
                  </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row col-md-12">Verzija: </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row col-md-12">{{clanak.verzijaClanka}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="row col-md-12">Autori: </div>
                      </div>
                      <div class="col-md-8">
                          <div class="row col-md-12" *ngFor='let autor of clanak.autori'>
                            {{autor.idKorisnik.username}}
                          </div>
                      </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
          </div>
    </div>
  </div>
  