<div class="container-fluid">
    <div class="datacontainer" *ngFor='let clanak of clanci'>
      <div class="container" (click)="openArticle(clanak.id)">
          <div class="row col-md-12 data">{{clanak.idClanak.naziv}}</div>
		  <div class="row col-md-12 data">Kategorija: </div>
          <div class="row col-md-12 data">{{clanak.idClanak.idKategorije.naziv}}</div>
		  <div class="row col-md-12 data">Odobrio: </div>
          <div class="row col-md-12 data">{{clanak.idClanak.odobrioClanak.username}}</div>
		  <div class="row col-md-12 data">Verzija: </div>
		  <div class="row col-md-12 data">{{clanak.verzijaClanka}}</div>
		  <div class="row col-md-12 data">Autori: </div>
         <div class="row col-md-12 data" *ngFor='let autor of clanak.autori'>{{autor.idKorisnik.username}}</div>
      </div>
      


    </div>
    <button class = "btn col-md-6 col-md-offset3"  (click)='prikazi()'>Prikazi</button>
  </div>
  