<div class="container-fluid">
    <div class="row col-md-12">
      <div>Naziv članka: </div>
      <div class = "data"> {{nazivClanka}} </div>
    </div>
    
    <div class="row col-md-12">
      <div>Autori članka: </div>
      <div class = "data"> {{showAuthors()}} </div>
    </div>
  
    <div class="row col-md-12">
      <div>Kategorija članka: </div>
      <div class = "data"> {{kategorija}} </div>
    </div>
  
    <div class="row col-md-12">
      <div>Link za preuzimanje članka: </div>
      <div class = "data"><a [href]='urlZaPreuzimanje'>Preuzmi članak</a></div>
    </div>
    
    <div class="row col-md-12 comment">
      <div>Unesi komentar: </div>
      <textarea class="span6" rows="3" cols="50" [(ngModel)]='komentar'></textarea>
    </div>
    

    <div class="row col-md-12">
      <div>Komentari </div>
    </div>
    <div class="table-responsive" *ngIf='komentari && komentari.length'>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Korisnik</th>
                  <th>Komentar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let komentar of komentari'>
                  <td>{{ komentar.korisnik }}</td>
                  <td>{{ komentar.tekst }}</td>
              </tr>
          </tbody>
      </table>

  </div>
  
    <!--
    <div class="row col-md-12">
      <div>Komentar: </div>
      <div class = "data"> {{komentar}} </div>
    </div> -->
  
  </div>
  