.image{
    position:relative;
    background-size: cover;
    background-image: url('../assets/background.jpg'); 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display:table;
      /*
    width: 100%;
    height: auto;
  
    position: fixed;
    top: 0;
    left: 0;*/
  }

  .boje{
      color:#87C232;
      color:#474A4F;
      color: #6A6E71;
      color:#61896F;
      color:#222629;
  }