.row {
    color: rgb(181, 185, 189);
    font-size: 22px;
    margin-bottom: 0.5%;
    font-weight: bold;
}

.container-fluid {
    margin-top: 3%;
    margin-right: 100px;
}

.span6 {
    color: white;
    background: rgba(255,255,255,0.2);
    font-size: 22px;
    margin-left: 1%;
    margin-bottom: 2%;
}

.comment {
    margin-top: 5%;
}

.btn {
    color :rgb(40, 53, 22);
    background-color: #6A6E71;
    font-size: 22px;
    margin-right: 25%;
    margin-top: 1%;
    width: 22%;
}

.custom-padding {
    padding-top: 2%;

  }

.data {
   font-size: 20px;
    color:  rgb(215, 222, 230);
    font-weight: normal;
}
.data2 {
    font-size: 14px;
     color:  rgb(40, 53, 22);
     font-weight: normal;
 }
 .data3 {
    font-size: 14px;
     color:  rgb(40, 53, 22);
     font-weight: bold;
 }
.datum {
    padding-top: 1%;
    font-size: 14px;
    color:  rgb(215, 222, 230);
    font-weight: normal;
}
.dataBig {
    
    color:  rgb(245, 242, 240);
    
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
}
.pull-right{
    text-align: right;
}

a {
    color: rgb(40, 40, 241);
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    color :rgb(190, 231, 131);
    background-color: #6A6E71;
    font-size: 22px;
    margin-right: 25%;
    margin-top: 1%;
    width: 22%;
    text-align: center;
    
    
    cursor: pointer;
}

hr {
    width: 100%;
    height: 3px;
    border: 0 none;
 
    margin-top: 20px;
    margin-bottom:5px;
    background-color:#555;
 }

 .datacontainer {
    border-radius: 4px;
    background: #61896F;
    padding: 0.5%;
    margin-bottom: 2%;
    margin-left:1%;
    
}