
    
<div class="container-fluid">

  <div class="row col-md-12">
    <div class = "dataBig"> {{nazivKorisnika}} </div>
  </div>

  <div class="row col-md-12">
    <div class = "data"> {{username}} </div>
  </div>
  <div class="datum">
  <div class="row col-md-12">
    <div class="datum" >Datum prijave: </div>
    <div class="datum" > {{datum}} </div>
  </div>
</div>
  <div class ="custom-padding">
      <hr style="border: none;">
  <div class="row col-md-12">
    <div>Biografija </div>
    <div class = "data"> {{biografija}} </div>
  </div>
</div>
<hr style="border: none;">
<div class="row col-md-12">

<label for="file" class="custom-file-upload">
  Upload članak
</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event)"
         accept=".pdf"/>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
  File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
</div>



<hr style="border: none;">



<div class="row col-md-12">
    Lista članaka
  </div>
  <div class="datacontainer" *ngFor='let clanak of clanci'>
      <div class="row col-md-12 data3">{{clanak.nazivClanka}}</div>
      <div class="row col-md-12 data2">{{clanak.autori}}</div>
      <div class="row col-md-12 data2">{{clanak.kategorija}}</div>
    </div>


  
</div>


