<nav class="navbar expand-lg">
  <img src="../../assets/logo.jpg" class="img-fluid image">

    <!--Dodati collapse iznad nakon što spojimo autentifikaciju/autorizaciju sa backendom--> 
    <div class="pull-right">
        
        <a class="navbar-brand" href="#" (click)="openRegister()" style="padding-left:1%">Register	</a> 
        <img src="https://i.imgur.com/wmLzN5m.png" style="width:5%"/>
        <a *ngIf = "!loggedIn" class="navbar-brand" href="#" (click)="openLogin()" style="padding-left:1%">Log In	</a> 
        <a *ngIf = "loggedIn" class="navbar-brand" href="#" (click)="logout()" style="padding-left:1%">Log Out</a> 
      </div>
    
</nav>