<div class="container">
  <div class="row col-md-12 searchdiv">
    <div>
      <input type="text"
          [(ngModel)]='filterText' />
    </div>
    <button class="btn btn-primary" (click)='filtrirajClanke()'>Pretraga po nazivu</button>
	<button class="btn btn-primary" (click)='filtrirajClankePoKategoriji()'>Pretraga po kategoriji</button>
  </div>
  
  <div class="datacontainer" *ngFor='let clanak of filtriraniClanci'>
    <div class="container" (click)="openArticle(clanak.id)">
        <div class="row col-md-12 data">{{clanak.naziv}}</div>
        <div class="row col-md-12 data">{{clanak.kategorija.naziv}}</div>
        <div class="row col-md-12 data">{{clanak.odobrioClanak.username}}</div>
       <div class="row col-md-12 data" *ngFor='let autor of clanak.autori'>{{autor.korisnik.username}}</div>
    </div>
    

  </div>


</div>
