.row {
    margin-bottom: 0px;
}

.container-fluid {
    margin-top: 3%;
    margin-right: 100px;
}

.btn {
    color :#87C232;
    background-color: #474A4F;
    font-size: 22px;
    /*margin-right: 25%;
    margin-top: 1%;
    width: 22%;
    float: right;*/
}

.data {
    margin-left: 4%;
}

.datacontainer {
    border-radius: 45px;
    background: #61896F;
    padding: 0.5%;
    margin-top: 2%;
    /*margin-bottom: 2%;*/
}


input {
    background: #474A4F;
    border: 0px;
    width: 70%;
}

.textInputa{
    color:white;
    margin-top:5%;
}

.moveLower{
    padding-top:5%;
}